# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For ASP.NET project
bin/
obj/
*.user
*.suo
*.log
.vs/
*.dbmdl
*.dbproj.schemaview
TestResults/
*.pfx
*.publishsettings
node_modules/
*.config
*.webinfo
